@page "/test"
@using BlazorApp1.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Text
@model BlazorApp1.Pages.Test
@inject HttpClient HttpClient
@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "Shared/_Layout";
}

<p>@User.Identity.IsAuthenticated</p>

<form id="account" method="get" action="/user/dad">
    <h2>Получить пользователя</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Имя" />
        <label asp-for="UserName" class="form-label">Имя</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>
</form>
<form id="myForm" method="get">
    <button type="submit" class="w-100 btn btn-lg btn-primary">Action</button>
</form>
<p>@Model.Message</p>

{
    <input type="text" name="name" />
    <input type="submit" value="Поиск" />
}

@{
    string SecondMEssage = "secondMessage";

    <p>@SecondMEssage</p>
}



