@page "/counter"
@inject ILogger<Counter> logger

<PageTitle>Чат</PageTitle>

<div class="sidebar">
    <NavMenu/>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        Console.WriteLine("Heloodkcodkcodmco");
        logger.LogWarning("Someone has clicked me!");
        currentCount++;
    }
}

