@inherits LayoutComponentBase

<PageTitle>Chuck Chat</PageTitle>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4 auth header">
            <LoginDisplay/>
        </div>

        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                <div>
                    <h1>Хей амиго, заведи, наконец, аккаунт в этом уютном местечке!</h1>
                    <img src="mem.png" alt=""/>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </main>
</div>