.top-row {
    height: 3.5rem;
    background-color: #5D7791;
}

.btn-plus{
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.navbar-brand{
    font-size: 1.8rem;
    font-family: 'Mr Dafoe', cursive;
    color: rgba(254, 132, 39, 1);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    line-height: 56px;
    margin-top: -15px;
}

.chat__add{
    position: relative;
    margin-top: 20px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

@media (min-width: 641px) {
    .form-control{
        margin-left: 5px;
        width: 180px;
    }
}

.chat__add-elements{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
